
<div class="container">
    <div class="row">
        <h1>Liste des Products</h1>
    </div>
    
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <h2>Labels</h2>
            </div>
            <div class="row table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Label du product</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of loadedProducts">
                            <td scope="row"><a routerLink={{product.id}}>{{product.label}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <h2>Détails</h2>
            </div>
            <div class="row">
                <router-outlet></router-outlet>
            </div>
            
        </div>
    </div>
</div>
